.diamond-red {
  color: #ef5731;
  position: relative;
}

.diamond-white {
  font-size: 12px;
  position: absolute;
  left: 38px;
  top: 46px;
}

@media (max-width: 992px) {
  .diamond-white {
    display: none;
  }
  .diamond-red {
    display: none;
  }
}
