.card-product {
  overflow: hidden;
  height: 88px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.card-product .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  margin-left: 16px;
  border-radius: 10px;
  color: black;
}
.card-product i {
  font-size: 20px;
}

.card-icon-design {
  background: #fee5df;
}

.card-icon-files {
  background: black;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover {
  background-color: black !important;
  color: white;
}

.card-avatars {
  margin-right: 24px;
}

@media (max-width: 768px) {
  .card-product:nth-child(2) {
    background: #fef9f5;
  }
  .card-product:nth-child(3) {
    background: #fee5df;
  }
  .card-product .card-icon {
    display: none;
  }
}
