.navbar,
.navbar-collapse {
  flex-direction: column;
}
.navbar-expand-sm .navbar-nav {
  flex-direction: column;
}

.navbar .container-fluid,
.navbar-expand-sm .navbar-collapse,
.navbar-expand-sm .navbar-nav {
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 992px) {
  .navbar {
    width: 14%;
    height: 120vh;
    background: black;
  }
}

@media (max-width: 992px) {
  .navbar-expand-sm .navbar-nav {
    flex-direction: row !important;
  }
  .navbar,
  .navbar-collapse {
    background: transparent !important;
    position: absolute !important;
  }
  /* .navbar-toggler .collapse {
    background: red;
    color: red;
  }
  .navbar-toggler-icon {
    background: red;
    color: red !important;
  } */
}
