.navbar,
.navbar-collapse {
  flex-direction: column;
}
.navbar-expand-sm .navbar-nav {
  flex-direction: column;
}

.navbar .container-fluid,
.navbar-expand-sm .navbar-collapse,
.navbar-expand-sm .navbar-nav {
  flex-direction: column;
  align-items: flex-start;
}

.fa-solid.fa-chart-simple {
  font-size: 24px;
  transform: scale(-1, 1) rotate(90deg);
}

@media (min-width: 992px) {
  .navbar {
    width: 14%;
    height: 100vh;
    background: black;
  }
}

@media (max-width: 992px) {
  .navbar-expand-sm .navbar-nav {
    flex-direction: row !important;
  }
  .navbar,
  .navbar-collapse {
    background: transparent !important;
    position: absolute !important;
  }
  #offcanvasNavbar-expand-lg {
    width: 68% !important;
  }
}
