.tabs-underlined {
  display: flex;
  /* align-items: center; */
  justify-content: between;
}

.tabs-underlined .tab-underlined {
  color: black;
  /* padding: 8px; */
  /* margin: 16px; */
  opacity: 0.4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

/* .tabs-underlined li {
  font-size: 12px;
} */

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

@media (max-width: 768px) {
  .tabs-underlined li {
    font-size: 12px;
  }
}
