.project-container {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 12px;
}
.project-container-header {
  padding: 8px;
}

.projet-title-container-mobile {
  position: absolute;
  visibility: hidden;
}

@media (max-width: 768px) {
  .project-container {
    background: transparent;
    padding: 0;
  }
  .projet-title-container-mobile {
    position: relative;
    visibility: visible;
  }
  .projet-title-container {
    position: absolute;
    visibility: hidden;
  }
  .project-container-header {
    position: absolute;
    visibility: hidden;
  }
  .project-container-header {
    padding: 0;
  }
}
