@import url("./styles/Navigation.css");
@import url("./styles/CardDesign.css");
@import url("./styles/NavTab.css");
@import url("./styles/Header.css");
@import url("./styles/components/avatar.css");
@import url("./styles/components/search.css");
@import url("./styles/components/diamond.css");
@import url("./styles/components/bubble.css");
@import url("./styles/components/doughnut.css");

.table {
  border-collapse: separate;
  border-spacing: 12px 0;
}

.table th td {
  padding: 8px;
}
